
.nav {
    grid-area: n;
    background-color: burlywood;
    padding: 20px;
}

.item a {
    color: white;
    text-decoration: none;
    outline: none;
}

.item a.activeLink {
    color: rgb(196, 110, 196);
}


